@import "tailwindcss";

/* 1. Define the Dark Mode variant for manual toggling */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply transition-colors duration-300 antialiased font-sans;
    background-color: theme("colors.white");
    color: theme("colors.slate.900");
  }

  .dark body {
    background-color: theme("colors.slate.950");
    color: theme("colors.white");
  }
}
